@font-face {
    font-family: 'Open Sans';
    src: url('~/assets/fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
        url('~/assets/fonts/OpenSans/OpenSans-Light.woff') format('woff'),
        url('~/assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('~/assets/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
        url('~/assets/fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
        url('~/assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fjalla One';
    src: url('~/assets/fonts/FjallaOne/FjallaOne-Regular.woff2') format('woff2'),
        url('~/assets/fonts/FjallaOne/FjallaOne-Regular.woff') format('woff'),
        url('~/assets/fonts/FjallaOne/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
