.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $darkest;
  display: flex;
  align-items: center;
  z-index: 100;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 .5rem;
  @media print {
    display: none;
  }
  .nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    a {
      display: block;
      text-align: right;
      text-decoration: none;
      color: $light;
      padding: .5rem;
      transition: all .2s ease-in-out;
      text-transform: uppercase;
      letter-spacing: -.1em;
      font-weight: bold;
      &:hover, &:focus {
        transform: scale3d(1.1);
      }
      &.nuxt-link-exact-active {
        color: $light;
      }
    }
  }
}
