$darkest: #333;
$dark: #444;
$gray: #888;
$light: #fbfbfb;
$border: #eee;
$blue: #3564d4;

$base-font-size: 16px;
$base-line-height: 1.5;
$base-text-family: 'Open Sans', Helvetica, Verdana, sans-serif;
$base-header-family: 'Fjalla One', Impact, #{"Arial Black"}, sans-serif;

$header-height: 2.5rem;
